<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ObvTrojanClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ObvTrojanClient.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="SubdomainID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCurrentIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoUpdating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSubdomainID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </ObvTrojanClient.Properties.Settings>
    </userSettings>
</configuration>